$header-color: #FFFFFF;
$header-font: sans-serif;
$button-color: #50c3af;
$button-color-text: #f5f5f5;
$article-header-color: #40474e;
$paragraph-color: #787b80;
$font: 'PT Sans', sans-serif;
$check-color: #50c3af;
$darken-color:  #eaeaeb;