@media all and (max-width: 727px) {
    .features-section:first-child {
        margin: 65px 50px 27px 50px;
    }
    .support-article {
        padding-right: 20%;
        padding-left: 20%;
    }
    .contact-waves {
        padding: 0 20px 0 20px;
    }
    .contact-waves .contact-button:first-of-type {
        margin-bottom: 0;
    }
}

@media all and (max-width: 600px) {
    .page-header .under-nav:after, .page-header .under-nav:before {
        display: none;
    }
}
@media all and (max-width: 420px) {
    .page-header .main-nav {
        margin-bottom: 59px;
      width: calc(90%);
}
    .page-header .main-nav .nav-list {
  align-items: center;
    flex-direction: column;
  padding: 0;
  margin: 0;
}
    .page-header .main-nav .nav-list .nav-items {
    padding: 3px 0;
    font-size: 15px;
}
}