.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.page-header {
  min-height: 588px;
  width: 100%;
  background-image: url(img/title-background.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
}
.page-header .header-logo {
  margin: 65px 0 47px 0;
  z-index: 2;
}
.page-header .header-logo > img {
  width: 109px;
  height: 44px;
  z-index: 100;
}
.page-header:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.page-header .main-nav {
  margin-bottom: 69px;
  width: calc(30% + 180px);
  z-index: 3;
}
.page-header .main-nav .nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.page-header .main-nav .nav-list .nav-items {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding-right: 5px;
}
.page-header .main-nav .nav-list .nav-items > a {
  color: #FFFFFF;
  text-decoration: none;
}
.page-header h1 {
  font-family: sans-serif;
  color: #FFFFFF;
  font-size: 53px;
  font-weight: 700;
  margin: 0;
  padding: 0 10px 0 10px;
  text-transform: uppercase;
  text-align: center;
  z-index: 3;
}
.page-header .under-nav {
  margin: 40px 0 0 0;
  padding: 0;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  z-index: 3;
}
.page-header .under-nav:before {
  content: "";
  position: absolute;
  display: block;
  background-color: white;
  width: 12vw;
  height: 1px;
  transform: translate(-120%, 7px);
}
.page-header .under-nav:after {
  content: "";
  position: absolute;
  display: block;
  background-color: white;
  width: 12vw;
  height: 1px;
  transform: translate(275px, -9px);
}
.page-header .header-button {
  margin: 80px 0 120px 0;
  width: 235px;
  height: 48px;
  border-radius: 30px;
  background-color: #50C3AF;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 3;
}

.benefit-article {
  background-color: rgba(234, 234, 235, 0.6);
  min-height: 286px;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
}
.benefit-article .benefit-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 20%;
  padding: 0 10px;
  min-width: 200px;
}
.benefit-article .profesionals-span {
  width: 43px;
  height: 42px;
  margin: 63px 0 32px 0;
}
.benefit-article .photo-title {
  text-transform: uppercase;
  color: #40474e;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin: 0 0 48px 0;
}
.benefit-article .paragraph {
  color: #787b80;
  font-weight: 400;
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  margin: 0 0 58px 0;
  position: relative;
}
.benefit-article .paragraph:before {
  content: '';
  position: absolute;
  display: block;
  top: -20px;
  height: 2px;
  background-color: rgba(41, 49, 57, 0.06);
  width: 60%;
  left: 20%;
}

.features-article {
  min-height: 526px;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
}
.features-article .features-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-basis: 250px;
  margin: 65px 50px 77px 50px;
}
.features-article .features-section .responsive-span {
  width: 264px;
  height: 167px;
  margin-bottom: 42px;
}
.features-article .features-section h3 {
  font-family: "PT Sans", sans-serif;
  color: #40474e;
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 56px 0;
  text-transform: uppercase;
}
.features-article .features-section .paragraph {
  color: #787b80;
  font-weight: 400;
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  margin: 0 0 0 0;
  position: relative;
  text-align: left;
}
.features-article .features-section .paragraph:before {
  content: '';
  position: absolute;
  display: block;
  top: -20px;
  height: 2px;
  background-color: rgba(41, 49, 57, 0.06);
  width: 80%;
  left: 5%;
}
.features-article .features-section .button {
  background-color: #50c3af;
  width: 98px;
  height: 35px;
  border-radius: 20px;
  font-family: "PT Sans", sans-serif;
  color: #f5f5f5;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 34px;
  text-decoration: none;
}

.support-article {
  background-color: #eaeaeb;
  min-height: 286px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding-left: 25%;
  padding-right: 25%;
}
.support-article .title-3 {
  margin: 69px 0 51px 0;
  padding-left: 32px;
  align-self: flex-start;
  font-family: "PT Sans", sans-serif;
  color: #40474e;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
}
.support-article .title-3:before {
  content: url(img/circle.png);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0%;
}
.support-article .paragraph {
  color: #787b80;
  font-weight: 400;
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  margin: 0 0 38px 0;
  position: relative;
  text-align: left;
  line-height: 140%;
}
.support-article .paragraph:before {
  content: '';
  position: absolute;
  display: block;
  top: -20px;
  height: 2px;
  background-color: rgba(41, 49, 57, 0.06);
  width: 80%;
  left: -2px;
}
.support-article .button {
  background-color: #50c3af;
  width: 98px;
  height: 35px;
  border-radius: 20px;
  font-family: "PT Sans", sans-serif;
  color: #f5f5f5;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 34px;
  text-decoration: none;
  margin-top: 0;
  align-self: flex-start;
  background-color: #d2d5da;
  margin-bottom: 64px;
  font-weight: 700;
}

.benefit-article-second {
  min-height: 441px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.benefit-article-second .benefit-again {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 181px;
  margin: 0 30px 50px 30px;
}
.benefit-article-second .benefit-again .image-again {
  margin: 58px 0 41px 0;
}
.benefit-article-second .benefit-again .photo-title {
  margin: 0 0 48px 0;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  color: #40474e;
  font-weight: 700;
  font-size: 16px;
}
.benefit-article-second .benefit-again .paragraph {
  color: #787b80;
  font-weight: 400;
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  margin: 0 0 28px 0;
  position: relative;
  text-align: left;
}
.benefit-article-second .benefit-again .paragraph:before {
  content: '';
  position: absolute;
  display: block;
  top: -20px;
  height: 2px;
  background-color: rgba(41, 49, 57, 0.06);
  width: 100%;
  left: 0;
}
.benefit-article-second .benefit-again .check-button {
  font-family: "PT Sans", sans-serif;
  color: #50C3AF;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.article-contact {
  min-height: 321px;
  background-color: #eaeaeb;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.article-contact .contact-waves {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  align-items: flex-start;
  padding: 0 45px 0 45px;
}
.article-contact .contact-waves .title-3 {
  font-family: "PT Sans", sans-serif;
  color: #40474e;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin: 66px 0 49px 0;
}
.article-contact .contact-waves .paragraph {
  color: #787b80;
  font-weight: 400;
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  margin: 0 0 36px 0;
  position: relative;
  text-align: left;
}
.article-contact .contact-waves .paragraph:before {
  content: '';
  position: absolute;
  display: block;
  top: -20px;
  height: 2px;
  background-color: rgba(41, 49, 57, 0.06);
  width: 100%;
  left: 0;
}
.article-contact .contact-waves .button {
  background-color: #50c3af;
  width: 98px;
  height: 35px;
  border-radius: 20px;
  font-family: "PT Sans", sans-serif;
  color: #f5f5f5;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 34px;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 60px;
}

.aside-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 331px;
  padding-top: 61px;
  box-sizing: border-box;
}
.aside-article .aside-photo {
  max-width: 300px;
  padding: 0 17px 35px 17px;
  box-sizing: border-box;
}
.aside-article .features-section {
  max-width: 300px;
  padding: 0 17px 35px 17px;
  align-self: flex-start;
  box-sizing: border-box;
}
.aside-article .features-section h3 {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #40474e;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.aside-article .features-section .paragraph {
  color: #787b80;
  font-weight: 400;
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  margin: 56px 0 29px 0;
  position: relative;
  text-align: left;
}
.aside-article .features-section .paragraph:before {
  content: '';
  position: absolute;
  display: block;
  top: -20px;
  height: 2px;
  background-color: rgba(41, 49, 57, 0.06);
  width: 80%;
  left: 3%;
}
.aside-article .features-section .paragraph:before {
  top: -30px;
}
.aside-article .features-section .button {
  background-color: #50c3af;
  width: 98px;
  height: 35px;
  border-radius: 20px;
  font-family: "PT Sans", sans-serif;
  color: #f5f5f5;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 34px;
  text-decoration: none;
  margin-top: 0;
  background-color: #d2d5da;
  font-weight: 700;
}

.ads-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #50C3AF;
  min-height: 221px;
}
.ads-aside h4 {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 53px 0 54px 0;
}
.ads-aside .ads {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
}
.ads-aside .ads .ad {
  padding: 10px 20px 10px 20px;
}
.ads-aside .ads .ad:last-child {
  padding-bottom: 70px;
}

.page-footer {
  min-height: 57px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.page-footer .paragraph-footer {
  color: #787b80;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.page-footer .paragraph-footer .elenea {
  color: #40474e;
}
.page-footer .links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.page-footer .links .icon1 {
  width: 18px;
  height: 17px;
  padding: 7px;
}
.page-footer .links .icon2 {
  width: 10px;
  height: 17px;
  padding: 7px;
  transform: translateY(-1px);
}
.page-footer .links .icon3 {
  width: 16px;
  height: 14px;
  padding: 7px;
  transform: translateY(1px);
}

/*# sourceMappingURL=style.css.map */
